---
import '../styles/global.css';
---

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width" />
        <title>Specialists</title>
    </head>
    <body>
        <h1>Specialists</h1>
    </body>
</html>