---
import '../styles/global.css';
---

<div class="footer">
    <div class="address">

    </div>
    <div class="footerLinks">
        <div class="policySection">

        </div>
        <div class="buttons">

        </div>
        <div class="socials">

        </div>
    </div>
</div>

<style>
    .footer {
        background-color: var();
    }

</style>
