---
import '../styles/global.css';
import logo from '../assets/astro.svg'
import Searchbar from './Searchbar.astro'
//const [isSmallScreen, setIsSmallScreen] = useState(window.innerWidth < 768)
//const { postalCode } = useParams<{ postalCode: string }>()
---

<nav>
    <div class="headbar">
        <div class="logobox">
            <a href="/">
                <img src={logo.src} class="logo" alt="MovieRouterLogo" />
            </a>
            <a href="/" style={{ color: 'var(--text-color)' }}>
                <h1 class="caveat">ENT Clinic</h1>
            </a>
        </div>
        <a class="nav-trigger" href="#" aria-label="Toggle navigation"><span class="nav-icon"></span></a>
        <nav class="nav">
            <a class="nav-link" href="/" aria-label="home">HOME</a>
            <a class="nav-link" href="/about" aria-label="about">ABOUT</a>
            <a class="nav-link" href="/blog" aria-label="blog">BLOG</a>
            <a class="nav-link" href="/tinnitus" aria-label="tinnitus">TINNITUS</a>
            <a class="nav-link" href="/stories" aria-label="stories">STORIES</a>
            <a class="nav-link" href="/services" aria-label="services">SERVICES</a>
            <a class="nav-link" href="/specialists" aria-label="specialists">SPECIALISTS</a>
            <a class="nav-link" href="/learn" aria-label="learn">LEARN</a>
        </nav>
    </div>
</nav>

<script>
    const trigger = document.querySelector('.nav-trigger');
    trigger?.addEventListener('click', () => {
        document.body.classList.toggle('nav--active');
    });
</script>

<style>
    :root {
        --duration: 300ms;
        --ease: ease-in-out;
    }
    .caveat {
        font-family: "Caveat", cursive;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        padding-right: 0.5em;
    }

    .headbar {
        position: fixed;
        flex-direction: column;
        left: 0;
        right: 0;
        top: 0;
        width: 100vw;
        width: 100dvw;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        background-color: var(--darker-color);
        color: var(--text-color);
        z-index: 150;
    }

    .logobox {
        display: none;
    }

    .logo {
        height: 4em;
        padding: 1em;
        will-change: filter;
        transition: filter 300ms;
    }
    .logo:hover {
        filter: drop-shadow(0 0 2em #646cffaa);
    }
    
    /* https://codepen.io/adubiel/pen/yyWEVo */
    .nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        width:100%;
        height:100%;
        transform: translateX(100%);    
        z-index:100;  
        opacity:0;
        transition-property: all;
        transition-duration: var(--duration);
    }

    body.nav--active .nav {
        opacity:1;
        background-color: var(--nav-bg-active);
    }

    .nav-link {
        font-size:1.3em;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--darker-color);
        opacity:1;
        transition: opacity 300ms var(--ease);
    }
    .nav-trigger {
        display:block;
        position:absolute;
        width:30px;
        height:25px;
        right:10px;
        top:10px;
        z-index:1000; 
    }

    body.nav--active .nav-trigger {
        opacity:0.5;
    }

    .nav-icon {
        display: inline-block;
        position: relative;
        width:30px;
        height:5px;
        background-color: var(--nav-color);
        transition-property: background-color, transform;
        transition-duration: var(--duration);
    }
    .nav-icon::before, .nav-icon::after {
        content: '';
        position: absolute;
        left: 0;
        width: 30px;
        height: 5px;
        background-color: var(--nav-color);
        transition: margin var(--duration), transform var(--duration);
    }

    .nav-icon::before {
        margin-top: -10px;
    }

    .nav-icon::after {
        margin-top: 10px;
    }
    body.nav--active .nav-icon {
        background: rgba(0,0,0,0.0);
    }
        
    body.nav--active .nav-icon::before {
        margin-top: 0;
        transform: rotate(45deg);
    }

    body.nav--active .nav-icon::after {
        margin-top: 0;
        transform: rotate(-45deg);
    }

    body.nav--active .nav {
        transform: translateX(20%);  
    }

    @media (min-width: 768px) {
        .warning {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .logobox{
            display: flex;
            white-space: nowrap;
        }
        .nav-trigger {
            display: none;
        }
        .nav-link {
            color: var(--text-color);
        }
        .nav {
            position: static;
            opacity: 1 !important;
            transform: none !important;
            width: auto;
            height: auto;
            background: transparent;
            transition: none;
            display: block;
        }
        .headbar {
            position: absolute;
            flex-direction: row;
        }
    }
</style>
