---
import logo from '../assets/astro.svg'
import './Navbar.css'
import Searchbar from './Searchbar.astro'
//import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'
//import { faHouse, faBook, faMapLocationDot, faCircleCheck, faMagnifyingGlass } from '@fortawesome/free-solid-svg-icons'

//const [isSmallScreen, setIsSmallScreen] = useState(window.innerWidth < 768)
//const { postalCode } = useParams<{ postalCode: string }>()
---

<div class="headbar">
    <div class="logobox">
        <a href="/">
            <img src={logo.src} class="logo" alt="MovieRouterLogo" />
        </a>
        <a href="/" style={{ color: 'var(--text-color)' }}>
            <h1 class="caveat">ENT Clinic</h1>
        </a>
    </div>
    <div class="navbarText">
        <a href="/">Home</a>
        <a href="/about/">ABOUT</a>
        <a href="/blog/">Blog</a>
        <a href="/tinnitus">TINNITUS</a>
        <a href="/stories">STORIES</a>
        <a href="/services">SERVICES</a>
        <a href="/specialists">SPECIALISTS</a>
        <a href="/learn">LEARN</a>
    </div>
    <div class="navbarIcon">
    </div>
    <Searchbar />
</div>
