---
import '../styles/global.css';
import logo from '../assets/astro.svg';
import Stylishbutton from './Stylishbutton.astro';

type link = {
    href: string;
    ariaLabel: string;
    label: string;
};

const links: link[] = [
    { href: '/', ariaLabel: 'home', label: 'Home' },
    { href: '/about', ariaLabel: 'about', label: 'About' },
    { href: '/tinnitus', ariaLabel: 'tinnitus', label: 'Tinnitus' },
    { href: '/stories', ariaLabel: 'stories', label: 'Stories' },
    { href: '/services', ariaLabel: 'services', label: 'Services' },
    { href: '/specialists', ariaLabel: 'specialists', label: 'Specialists' },
    { href: '/learn', ariaLabel: 'learn', label: 'Learn' }
];

let current = Astro.url.pathname;
if (current !== '/') {
    current = current.endsWith('/') ? current.slice(0,-1) : current;
}
---

<nav>
    <div class="headbar">
        <div class="logobox">
            <a href="/">
                <img src={logo.src} class="logo" alt="MovieRouterLogo" />
            </a>
            <a href="/" style={{ color: 'var(--text-color)' }}>
                <h1 class="caveat">ENT Clinic</h1>
            </a>
        </div>
        <a class="nav-trigger" href="#" aria-label="Toggle navigation"><span class="nav-icon"></span></a>
        <nav class="nav">
            <div class="linkbox">
                {links.map(link => (
                    <a class="nav-link" href={link.href} aria-label={link.ariaLabel}>
                        {link.label}
                        <div class={link.href == current ? "rainbow-underline active-link" : "rainbow-underline"}></div>
                    </a>
                ))}
                <div class="sbutton">
                    <Stylishbutton text="Book Now">
                </div>
            </div>
        </nav>
    </div>
</nav>

<script>
    const trigger = document.querySelector('.nav-trigger');
    trigger?.addEventListener('click', () => {
        document.body.classList.toggle('nav--active');
    });
</script>

<style>

    .headbar {
        position: fixed;
        flex-direction: column;
        left: 0;
        right: 0;
        top: 0;
        width: 100dvw;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        background-color: var(--darker-color);
        color: var(--text-color);
        z-index: 150;
    }
    svg {
        position: absolute;
    }
    .logobox {
        display: flex;
        white-space: nowrap;
    }

    .logo {
        height: 4em;
        padding: 1em;
        will-change: filter;
        transition: filter 300ms;
    }
    .logo:hover {
        filter: drop-shadow(0 0 2em #646cffaa);
    }
    
    .linkbox {
        display: flex;
        flex-direction: column;
        margin-top: 102.5px;
        background: linear-gradient(45deg,#00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    }
    .sbutton {
        padding-top: 20px;
        padding-right: auto;
        background: var(--nav-bg-active);
    }

    /* https://codepen.io/adubiel/pen/yyWEVo */
    .nav {
        font-size:1.3em;
        display: flex;
        flex-direction: column;
        position: fixed;
        width:100%;
        transform: translateX(100%);
        transition: all var(--duration) var(--ease);
    }

    .nav-link {
        text-decoration: none;
        padding-left: 20px;
        background-color: var(--nav-bg-active);
        transition: background-color .3s ease-in-out;
    }
    .nav-link:hover {
        background-color: transparent;
        color: var(--darker-color);
    }
    @keyframes glowing {
        0% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }
    .nav-trigger {
        display:block;
        position:absolute;
        width:30px;
        height:25px;
        right:10px;
        top:10px;
        z-index:1000; 
    }

    .nav-icon {
        display: inline-block;
        position: relative;
        width:30px;
        height:5px;
        background-color: var(--nav-color);
        transition-property: background-color, transform;
        transition-duration: var(--duration);
    }
    .nav-icon::before, .nav-icon::after {
        content: '';
        position: absolute;
        left: 0;
        width: 30px;
        height: 5px;
        background-color: var(--nav-color);
        transition: margin var(--duration), transform var(--duration);
    }

    .nav-icon::before {
        margin-top: -10px;
    }

    .nav-icon::after {
        margin-top: 10px;
    }
    body.nav--active .nav-icon {
        background: hsla(0,0%,0%,0);
    }
        
    body.nav--active .nav-icon::before {
        margin-top: 0;
        transform: rotate(45deg);hsla(0,0%,100%,1);
        background: hsla(0,0%,0%,1);
    }

    body.nav--active .nav-icon::after {
        margin-top: 0;
        transform: rotate(-45deg);
        background: hsla(0,0%,0%,1);
    }

    body.nav--active .nav {
        transform: translateX(59%);  
    }

    @media (min-width: 768px) {
        .warning {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .nav-trigger {
            display: none;
        }
        .nav-link {
            position: relative;
            color: var(--text-color);
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 3px;
            padding-bottom: 3px;
            margin-right: 10px;
            background: none;
        }
        .nav-link:before {
            content: '';
            background: linear-gradient(45deg, #00ffd5, #002bff, #7a00ff, #ff00c8);
            position: absolute;
            top: -2px;
            left:-2px;
            z-index: -1;
            filter: blur(5px);
            width: calc(100% + 6px);
            height: calc(100% + 6px);
            opacity: 0;
            transition: opacity .3s ease-in-out;
            border-radius: 4px;
        }
        .nav-link:after {
            z-index: -1;
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: var(--darker-color);
            border-radius: 4px;
            /*box-sizing: border-box;
            border: 1px solid hsla(0,0%,0%,1);
        }
        .active-link:after {
            border: 2px solid blue;*/
        }

        .active-link {
            position: absolute;
            top: 0;
            left: 1px;
            background: linear-gradient(45deg, #00ffd5, #002bff, #7a00ff, #ff00c8);
            width: calc(100% - 2px);
            height: calc(100% + 2px);
            z-index: -1;
            border-radius: 4px;
        }

        .nav-link:hover:before {
            opacity: 1;
        }
        .nav-link:hover {
            color: var(--text-color);
        }
        .nav {
            float: right;
            position: static;
            opacity: 1 !important;
            transform: none !important;
            width: auto;
            height: auto;
            transition: none;
            flex-direction: row;
            margin-left: auto;
            align-items: center;
        }
        .linkbox {
            flex-direction: row;
            margin-left: auto;
            align-items: center;
            margin-top: 0;
            background: transparent;
        }
        .headbar {
            position: absolute;
            flex-direction: row;
        }
        .sbutton {
            margin-right: 20px;
            padding-top: 0;
            padding-right: 0;
        }
    }
</style>
