---
//import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
//import { faMagnifyingGlass } from '@fortawesome/free-solid-svg-icons';
import './Searchbar.css';
---

<form class="searchbox">
    <input id='search' type='text' placeholder='Search' aria-label="Search input"/>
</form>
