---
import mask from '../assets/sprite-mask.png';

const { text } = Astro.props;
---

<stylishbutton>
    <div class="button-container">
        <span class="mas">{text}</span>
        <a href="/contact" style={
            `mask: url(${mask.src});
            -webkit-mask: url(${mask.src})
            mask-size: 3000% 100%;
            -webkit-mask-size: 3000% 100%;`
        }>{text}</a>
    </div>
</stylishbutton>

<style>

    /* https://codepen.io/pizza3/pen/qmerBv */
    .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 31.2px;
        max-width: 140.783px;
        position: relative;
        overflow: hidden;
        border: 1px solid #000;
        transition: 0.5s;
        padding: 3px 0px;
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        background-size: 400%;
        animation: glowing 20s linear infinite;
    }

    .button-container a {
        width: 101%;
        height: 100%;
        background: #000;
        border: none;
        color: #fff;
        cursor: pointer;
        animation: ani2 0.7s steps(29) forwards;
        padding: 23px;
        text-align: center;
    }

    .button-container a:hover {
        animation: ani 0.7s steps(29) forwards;
    }
    .mas {
        position: absolute;
        color: var(--darker-color);
        text-align: center;
        width: 101%;
        overflow: hidden;
    }

    @-webkit-keyframes ani {
        from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
        }

        to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
        }
    }

    @keyframes ani {
        from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
        }

        to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
        }
    }

    @-webkit-keyframes ani2 {
        from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
        }

        to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
        }
    }

    @keyframes ani2 {
        from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
        }

        to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
        }
    }
</style>