---
import Nav from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>ENT Clinic</title>
	</head>
	<body>
		<Nav />
		<main class="page-content">
			<div class="inactive-box"></div>
			<slot />
		</main>
	</body>
</html>

<script>
    const inactiveBox = document.querySelector('.inactive-box');
	inactiveBox?.addEventListener('click', () => {
        document.body.classList.remove('nav--active');
	})
</script>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: var(--nav-bg-active);
		display: flex;
		place-items: center;
		overflow: hidden
	}
    .page-content {
        transform: scale(1) translateX(0);
        transition: all var(--duration) var(--ease);
		background-color: var(--primary-color);
		overflow: auto;
		max-width: 100vw;
		max-width: 100dvw;
		max-height: 100vh;
		max-height: 100dvh;
    }

    body.nav--active .page-content {
        transform: scale(0.9) translateX(-40%);
    }

	.inactive-box {
		position: absolute;
		width: 100%;
		height: 100%;
		display: none;
		background-color: transparent;
		z-index: 1000;
	}

	body.nav--active .inactive-box {
		display: block;
	}
</style>
